<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Job</title>
    <h2 align="center"><a th:href="@{/jobs/}">Jobs</a> | <a th:href="@{/staff/}">Staff</a> | <a th:href="@{/libs/}">Libraries</a> | <a th:href="@{/books/}">Books</a> | <a th:href="@{/users/}">Users</a></h2>
    <h2 align="center">Fill data:</h2>
</head>
<body>
<!--/*@thymesVar id="job" type="ru.ancndz.libraryBase.content.jobs.Job"*/-->
<form action="#" th:action="@{/jobs/save}" th:object="${job}" method="post" align="center">
    <table border="1" cellpadding="5" align="center">
        <thead>
        <tr>
            <th><label for="name">Name</label></th>
            <th><label for="pay">Pay</label></th>
        </tr>
        </thead>
        <tbody>
        <td><input type="text" th:field="*{name}" id="name" placeholder="Name"></td>
        <td><input type="text" th:field="*{pay}" id="pay" placeholder="Pay"></td>
        </tbody>
    </table>
    <br>
    <input type="submit" value="Add Job">
</form>
</body>
</html>