<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <meta charset="UTF-8">
    <title>Jobs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"/>
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<div th:switch="${jobs}" align="center">
    <h2 th:case="null">No jobs found!</h2>
    <div th:case="*">
        <table border="1" cellpadding="5">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Pay</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="job : ${jobs}">
                <td th:text="${job.id}"></td>
                <td th:text="${job.name}"></td>
                <td th:text="${job.pay}"></td>
                <td sec:authorize="hasRole('ADMIN')">
                    <form action="#" th:action="@{/jobs/edit}"  method="get" align="center">
                        <input readonly type="hidden" th:value="${job.id}" name="id">
                        <input type="submit" value="Edit">
                    </form>
                    <form action="#" th:action="@{/jobs/delete}"  method="post" align="center">
                        <input readonly hidden type="text" th:value="${job.id}" name="id">
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
        <a th:href="@{/jobs/new}">
            <span>Add Job</span>
        </a>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>