<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <meta charset="UTF-8">
    <title>Add book</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"/>
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<!--/*@thymesVar id="rent" type="ru.ancndz.libraryBase.content.operations.Rent"*/-->
<form action="#" th:action="@{/rents/save}" th:object="${rent}" method="post" align="center">
    <table border="1" cellpadding="5" align="center">
        <thead>
        <tr>
            <th><label for="book">Book</label></th>
            <th><label for="lib">Library</label></th>
            <th sec:authorize="hasRole('ADMIN')"><label for="libraryUser">User</label></th>
        </tr>
        </thead>
        <tbody>
        <td>
            <input type="text" hidden readonly th:field="${rent.book}" id="book">
            <span th:text="${rent.book.name} + ', ' + ${rent.book.author} + ', ' + ${rent.book.pubYear}"></span>
        </td>
        <td>
            <span th:text="${rent.book.library.address} + ', ' + ${rent.book.library.name}"></span>
            <input type="text" hidden readonly th:field="${rent.book.library}" id="lib">
            <input type="text" hidden readonly th:field="${rent.staff}">
            <input type="text" hidden readonly th:field="${rent.libraryUser}">
        </td>
        <td sec:authorize="hasRole('ADMIN')">
            <span th:text="${rent.libraryUser.email}"></span>
            <input type="text" th:field="${rent.libraryUser.email}" id="libraryUser">
        </td>
        </tbody>
    </table>
    <br>
    <input type="submit" value="Rent Book">
    <div th:switch="${error}">
        <p th:case="null"></p>
        <p th:case="*" th:text="${error}"></p>
    </div>
</form>
<div th:insert="fragments/header :: login"></div>
</body>
</html>