<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>Edit User</title>
<h2 align="center"><a th:href="@{/jobs/}">Jobs</a> | <a th:href="@{/staff/}">Staff</a> | <a th:href="@{/libs/}">Libraries</a> | <a th:href="@{/books/}">Books</a> | <a th:href="@{/users/}">Users</a></h2>
<h2 align="center">Fill data:</h2>
</head>
<body>

<!--/*@thymesVar id="user" type="ru.ancndz.libraryBase.content.entity.User"*/-->
<form action="#" th:action="@{/staff/save}" th:object="${staff}" method="post" align="center">
    <table border="1" cellpadding="5" align="center">
        <thead>
        <tr>
            <th><label for="firstName">First Name</label></th>
            <th><label for="lastName">Last Name</label></th>
        </tr>
        </thead>
        <tbody>
        <td><input type="text" th:field="*{firstName}" id="firstName" placeholder="First Name"></td>
        <td><input type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name"></td>
        </tbody>
    </table>
    <br>
    <table border="1" cellpadding="5" align="center">
        <thead>
        <tr>
            <th><label for="address">Address</label></th>
            <th><label for="number">Number</label></th>
            <th><label for="email">Email</label></th>
        </tr>
        </thead>
        <tbody>
        <td><input type="text" th:field="*{address}" id="address" placeholder="Address"></td>
        <td><input type="text" th:field="*{number}" id="number" placeholder="Number"></td>
        <td><input type="text" th:field="*{email}" id="email" placeholder="Email"></td>
        </tbody>
    </table>
    <br>
    <table border="1" cellpadding="5" align="center">
        <thead>
        <tr>
            <th><label for="library_id">Library</label></th>
            <th><label for="job_id">Job</label></th>
        </tr>
        </thead>
        <tbody>
        <td>
            <select th:field="*{library_id}" id="library_id">
                <option th:each="library : ${libs}"
                        th:value="${library.id}"
                        th:utext="${library.name +', '+ library.address}"></option>
            </select>
        </td>
        <td>
            <select th:field="*{job_id}" id="job_id">
                <option th:each="job : ${jobs}"
                        th:value="${job.id}"
                        th:utext="${job.name}"></option>
            </select>
        </td>
        </tbody>
    </table>
    <br>
    <table border="1" cellpadding="5" align="center">
        <thead>
        <tr>
            <th><label for="Password">Password</label></th>
            <th><label for="Confirm Password">Confirm Password</label></th>
        </tr>
        </thead>
        <tbody>
        <td><input type="password" th:field="*{password}" id="Password" placeholder="Password"></td>
        <td><input type="password" th:field="*{passwordConfirm}" id="Confirm Password" placeholder="Confirm Password"></td>
        </tbody>
    </table>
    <br>
    <input type="submit" value="Edit Staff">
</form>
</body>
</html>