<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Staff</title>
</head>
<body>
<div th:insert="/fragments/header :: header"></div>
<div th:switch="${staffList}" align="center">
    <h2 th:case="null">No staff found!</h2>
    <div th:case="*">
        <table border="1" cellpadding="5">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>Number</th>
                <th>Job</th>
                <th>Library</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="staff : ${staffList}">
                <td th:text="${staff.id}"></td>
                <td th:text="${staff.firstName} + ' ' + ${staff.lastName}"></td>
                <td th:text="${staff.address}"></td>
                <td th:text="${staff.number}"></td>
                <td th:text="${staff.job.name}"></td>
                <td th:text="${staff.library.address} + ', ' + ${staff.library.name}"></td>
                <td><a th:href="@{/staff/edit-staff(id=${staff})}">Edit</a>
                    <a th:href="@{/staff/delete(id=${staff})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a th:href="@{/staff/new}">Add Staff</a></p>
</div>
</body>
</html>