<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <meta charset="UTF-8">
    <title>Staff</title>
</head>
<body>
<div th:insert="/fragments/header :: header"></div>
<div th:switch="${staffList}" align="center">
    <h2 th:case="null">No staff found!</h2>
    <div th:case="*">
        <table border="1" cellpadding="5">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>Number</th>
                <th>Job</th>
                <th>Library</th>
                <th>Actions</th>
                <th>Works</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="staff : ${staffList}">
                <td th:text="${staff.id}"></td>
                <td th:text="${staff.firstName} + ' ' + ${staff.lastName}"></td>
                <td th:text="${staff.address}"></td>
                <td th:text="${staff.number}"></td>
                <td th:text="${staff.job.name}"></td>
                <td th:text="${staff.library.address} + ', ' + ${staff.library.name}"></td>
                <td sec:authorize="hasRole('ADMIN')">
                    <form action="#" th:action="@{/staff/edit}"  method="get" align="center">
                        <input readonly type="hidden" th:value="${staff.id}" name="id">
                        <input type="submit" value="Edit">
                    </form>
                    <form action="#" th:action="@{/staff/delete}"  method="post" align="center">
                        <input readonly hidden type="text" th:value="${staff.id}" name="id">
                        <input type="submit" value="Delete">
                    </form>
                </td>
                <td>
                    <form th:action="@{/staff/works}" method="get">
                        <select name="time">
                            <option value="week">Неделя</option>
                            <option value="month">Месяц</option>
                            <option value="year">Год</option>
                            <option selected value="minute">Минута</option>
                        </select>
                        <input hidden readonly name="id" th:value="${staff.id}">
                        <input type="submit" value="Показать">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
    <a th:href="@{/staff/new}">
        <span>Add Staff</span>
    </a>
</div>
<div th:insert="/fragments/header :: login"></div>
</body>
</html>