<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <meta charset="UTF-8">
    <title>Staff</title>
</head>
<body>
<div th:insert="/fragments/header :: header"></div>
<div th:switch="${staff}" align="center">
    <h2 th:case="null">No staff found!</h2>
    <div th:case="*">
        <div th:border="5">
            <form th:action="@{/staff/works}" method="get">
                <h5>Показать обслуженных клиентов за:</h5>
                <select name="time">
                    <option value="week">Неделя</option>
                    <option value="month">Месяц</option>
                    <option value="year">Год</option>
                    <option selected value="minute">Минута</option>
                </select>
                <input hidden readonly name="id" th:value="${staff.id}">
                <input type="submit" value="Показать">
            </form>
        </div>
        <br>
        <table border="1" cellpadding="5">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>Number</th>
                <th>Job</th>
                <th>Library</th>
                <th>Works</th>
            </tr>
            </thead>
            <tbody>
                <td th:text="${staff.id}"></td>
                <td th:text="${staff.firstName} + ' ' + ${staff.lastName}"></td>
                <td th:text="${staff.address}"></td>
                <td th:text="${staff.number}"></td>
                <td th:text="${staff.job.name}"></td>
                <td th:text="${staff.library.address} + ', ' + ${staff.library.name}"></td>
                <td th:text="${works}"></td>
            </tbody>
        </table>
    </div>
</div>
<br>
<div th:switch="${works}" align="center">
    <h2 th:case="0">No users found!</h2>
    <div th:case="*">
        <h3>Список Клиентов</h3>
        <br>
        <table border="1" cellpadding="5">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>e-mail</th>
                <th>Status</th>
                <th>reg date</th>
            </tr>
            </thead>
            <tbody>
            <!--/*@thymesVar id="user" type="ru.ancndz.libraryBase.content.entity.User"*/-->
            <tr th:each="user : ${staffUsers}">
                <!--/*@thymesVar id="userExtras" type="ru.ancndz.libraryBase.content.entity.UserExtras"*/-->
                <td th:text="${user.id}"></td>
                <td th:text="${user.userExtras.firstName} + ' ' + ${user.userExtras.lastName}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.userExtras.status}"></td>
                <td th:text="${#temporals.format(user.userExtras.dateReg, 'dd-MM-yyyy HH:mm')}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:insert="/fragments/header :: login"></div>
</body>
</html>