<!doctype html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.springframework.org/security/tags ">
<head>
	<meta charset="utf-8" />
	<title>Books</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <link href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,300" rel="stylesheet" type="text/css">
    <!-- Style -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet" />
   <!-- Fonts and icons -->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
   <link th:href="@{/css/header.css}" rel="stylesheet" />
    <link th:href="@{/css/fresh-bootstrap-table.css}" rel="stylesheet" />
	<style>
	.myclass { margin: 3px; float: initial; width: 100%;}
	</style>
</head>

<body>

<div class="site-wrapper">
	<div class="site-wrapper-inner">
		<div class="cover-container">
			<div class="masthead clearfix">
					<div th:insert="fragments/header :: header"></div>
			</div>

			<div class="col-md-8 col-md-offset-2 mytable"> <!-- размер по таблице -->
				
				<p class="mycolor" style="font-size: 20px;">Search:</p>
			<p> <form action="#" th:action="@{/books/filter}" method="get">
                <div class="col-md-6 col-md-4">
                    <input type="text" name="author" class="form-control myclass" placeholder="Author">
                </div>
				<div class="col-md-4 col-md-4">
                    <input type="text" name="name" class="form-control myclass" placeholder="Title">
                </div>
				<div class="col-md-4 col-md-4">
                    <input type="text" name="genre" class="form-control myclass" placeholder="Genre">
                </div>
				<div class="col-md-5 col-md-4">
                    <input type="text" name="edition" class="form-control myclass" placeholder="Edition">
                </div>
					<br>
				<div class=" col-md-5 col-md-4">
                    <input type="text" name="year" class="form-control myclass" placeholder="Year">
                </div>
                <div class="btn-block col-md-4">
				    <input type="submit" class="btn btn-light myclass" value="Show">
                </div>
			    </form>
            </p>
				
				<div class="description">
          <h2>Books</h2>
        </div>
				
				
		  <div class="fresh-table toolbar-color-blue">
	  <!--/staff/new
		Available colors for the full background: full-color-blue, full-color-azure, full-color-green, full-color-red, full-color-orange
		Available colors only for the toolbar: toolbar-color-blue, toolbar-color-azure, toolbar-color-green, toolbar-color-red, toolbar-color-orange
	  -->
	  <div sec:authorize="hasRole('ADMIN')" class="toolbar" role="button">
		  <a class="btn btn-default" th:href="@{/books/new}"> Add Book
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></button>
	  </div>
			
	<div th:switch="${bookList}">
	  <div th:case="*">
		<!--<p th:case="null">No users found!</a></p>-->
		<!--<h1 class="h3 mb-3 font-weight-normal"><span th:text="${listName}"></span></h1>-->
		
		
		<!-- поиск по книгам -->
		
	<!--	<form action="#" th:action="@{/books/filter}" method="get" align="center">
            <table id="fresh-table" class="table table-hover">
                <thead>
                <tr>
                    <th><label>Search:</label></th>
                </tr>
                </thead>
                <tbody>
                <tr><td><input type="text" name="author" placeholder="Author"></td></tr>
                <tr><td><input type="text" name="name" placeholder="Title"></td></tr>
                <tr><td><input type="text" name="genre" placeholder="Genre"></td></tr>
                <tr><td><input type="text" name="edition" placeholder="Edition"></td></tr>
                <tr><td><input type="number" name="year" placeholder="Year"></td></tr>
                </tbody>
            </table>
            <br>
            <input type="submit" value="Search">
        </form>
		<br>-->
		
		
	  <table id="fresh-table" class="table table-hover">
		<thead>
		  <th sec:authorize="hasRole('ADMIN')" data-field="id" data-sortable="true">Id</th>
		  <th data-field="title" data-sortable="true">Title</th>
		  <th data-field="author" data-sortable="true">Author</th>
		  <th data-field="year" data-sortable="true">Year</th>
		  <th data-field="edition" data-sortable="true">Edition</th>
		  <th data-field="edition num" data-sortable="true">Edition Num</th>
		  <th data-field="genre" data-sortable="true">Genre</th>
		  <th data-field="count" data-sortable="true">Count</th>
		  <th data-field="where" data-sortable="true">Where?</th>
		  <th sec:authorize="isAuthenticated()" data-field="actions">Action</th>
		  <th data-field="works" >User action</th>
		</thead>
		<tbody>
		  <tr>
		  <tr th:each="book : ${bookList}">
					<td sec:authorize="hasRole('ADMIN')" th:text="${book.id}"></td>
					<td th:text="${book.name}"></td>
					<td th:text="${book.author}"></td>
					<td th:text="${book.pubYear}"></td>
					<td th:text="${book.edition}"></td>
					<td th:text="${book.editionNum}"></td>
					<td th:text="${book.genre}"></td>
					<td th:text="${book.count}"></td>
					<td th:text="${book.library.address + ', ' + book.library.name}"></td>

					<td class="mytd" sec:authorize="hasRole('ADMIN')">

						<form action="#" th:action="@{/books/edit}" method="get">
							<input readonly type="hidden" th:value="${book.id}" name="id">
							<button class="mybtn" type="submit"><span class="glyphicon glyphicon-pencil"
																	  aria-hidden="true"></span></button>
						</form>

						<form action="#" th:action="@{/books/delete}" method="post">
							<input readonly hidden type="text" th:value="${book.id}" name="id">
							<button class="mybtn" type="submit"><span class="glyphicon glyphicon-remove"
																	  aria-hidden="true"></span></button>
						</form>

						<form sec:authorize="hasRole('USER')" action="#" th:action="@{/rents/new_order}" method="post">
							<input readonly hidden type="text" th:value="${book.id}" name="book_id">
							<button class="mybtn" type="submit" value="Rent"></span></button>
						</form>

					</td>
				</tr>
			</tr>
		</tbody>
	  </table>
	</div>
</div>
				</div>
			</div> 
		</div>
	</div>
</div>

<!-- Javascript -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/bootstrap-table/dist/bootstrap-table.min.js"></script>

  <script type="text/javascript">
      var $table = $('#fresh-table')
      var $addUser = $('#addUser')

      $(function () {
          $table.bootstrapTable({
              classes: 'table table-hover table-striped',
              toolbar: '.toolbar',

              search: true,
              showRefresh: true,
              showToggle: true,
              showColumns: true,
              pagination: true,
              striped: true,
              sortable: true,
              pageSize: 4,
              pageList: [4, 8, 10, 25, 50, 100],

              formatShowingRows: function (pageFrom, pageTo, totalRows) {
                  return ''
              },
              formatRecordsPerPage: function (pageNumber) {
                  return pageNumber + ' rows visible'
              }
          })

          $addUser.click(function () {
              th:href="@{/users/new}"
          })
      })

</script>
</body>
</html>
