<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.springframework.org/security/tags ">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
<div th:insert="/fragments/header :: header"></div>
<!--/*@thymesVar id="bookList" type="java.util.List"*/-->
<!--/*@thymesVar id="book" type="ru.ancndz.libraryBase.content.libraryEnvironment.Book"*/-->
<div th:switch="${bookList}" align="center">
    <h2 th:case="null">No books found!</h2>
    <div th:case="*">
        <br>
        <form action="#" th:action="@{/books/filter}" method="get" align="center">
            <table border="1" cellpadding="5" align="center">
                <thead>
                <tr>
                    <th><label>Search by author:</label></th>
                </tr>
                </thead>
                <tbody>
                <td><input type="text" name="author" placeholder="Author"></td>
                </tbody>
            </table>
            <!--<table border="1" cellpadding="5" align="center">
                <thead>
                <tr>
                    <th><label>Search by title:</label></th>
                </tr>
                </thead>
                <tbody>
                <td><input type="text" name="name" placeholder="Title"></td>
                </tbody>
            </table>
            <table border="1" cellpadding="5" align="center">
                <thead>
                <tr>
                    <th><label>Search by year:</label></th>
                </tr>
                </thead>
                <tbody>
                <td><input type="number" name="year" placeholder="Year"></td>
                </tbody>
            </table>-->
            <br>
            <input type="submit" value="Search">
        </form>
        <br>
        <table border="1" cellpadding="5">
            <thead>
            <tr>
                <th sec:authorize="hasRole('ADMIN')">Id</th>
                <th>Title</th>
                <th>Author</th>
                <th>Year</th>
                <th>Edition</th>
                <th>Edition num</th>
                <th>Genre</th>
                <th>Count</th>
                <th>Where?</th>
                <th sec:authorize="isAuthenticated()">Action</th>
                <th sec:authorize="hasRole('ADMIN')">User action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${bookList}">
                <td sec:authorize="hasRole('ADMIN')" th:text="${book.id}"></td>
                <td th:text="${book.name}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.pubYear}"></td>
                <td th:text="${book.edition}"></td>
                <td th:text="${book.editionNum}"></td>
                <td th:text="${book.genre}"></td>
                <td th:text="${book.count}"></td>
                <td th:text="${book.library.address + ', ' + book.library.name}"></td>
                <td sec:authorize="hasRole('ADMIN')">
                    <form action="#" th:action="@{/books/edit}"  method="get" align="center">
                        <input readonly type="hidden" th:value="${book.id}" name="id">
                        <input type="submit" value="Edit">
                    </form>
                    <form action="#" th:action="@{/books/delete}"  method="post" align="center">
                        <input readonly hidden type="text" th:value="${book.id}" name="id">
                        <input type="submit" value="Delete">
                    </form>
                </td>
                <td sec:authorize="hasRole('USER')">
                    <form action="#" th:action="@{/rents/new_order}"  method="post" align="center">
                        <input readonly hidden type="text" th:value="${book.id}" name="book_id">
                        <input type="submit" value="Rent">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div sec:authorize="hasRole('ADMIN')">
        <a th:href="@{/books/new}">
            <span>Add Book</span>
        </a>
    </div>
</div>
<div th:insert="/fragments/header :: login"></div>
</body>
</html>