<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.springframework.org/security/tags ">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div th:fragment="header">
        <div align="center">
            <div sec:authorize="hasRole('ADMIN')">
                <h2><a th:href="@{/jobs/}">Jobs</a> | <a th:href="@{/staff/}">Staff</a> | <a th:href="@{/users/}">Users</a>
                </h2>
            </div>
            <h2><a th:href="@{/libs/}">Libraries</a> | <a th:href="@{/books/}">Books</a></h2>
        </div>
    </div>
    <div align="center" th:fragment="login">
        <br>
        <div sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out"/>
            </form>
        </div>
        <div align="center" sec:authorize="isAnonymous()">
            <a th:href="@{/registration}">Register</a>
            <br>
            <a th:href="@{/registration/staff}">Register staff</a>
            <br>
            <a th:href="@{/login}">Login</a>
        </div>
    </div>
</body>
</html>