<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create clientWithCard</title>
    <h2 align="center"><a th:href="@{/jobs/}">Jobs</a> | <a th:href="@{/staff/}">Staff</a> | <a th:href="@{/libs/}">Libraries</a> | <a th:href="@{/books/}">Books</a> | <a th:href="@{/users/}">Users</a></h2>
</head>
<body>
<h3 th:align="center">Please, fill Your profile:</h3>
<br>

<!--/*@thymesVar id="card" type="ru.ancndz.libraryBase.content.libraryEnvironment.Card"*/-->
<form action="#" th:action="@{/users/save}" th:object="${card}" method="post" th:align="center">
    <table border="1" cellpadding="5" align="center">
        <thead>
        <tr>
            <th><label for="firstName">First name</label></th>
            <th><label for="lastName">Last name</label></th>
            <th><label for="email">email</label></th>
            <th><label for="status">status</label></th>
        </tr>
        </thead>
        <tbody>
            <td><input type="text" th:field="*{user.firstName}" id="firstName" placeholder="First Name"></td>
            <td><input type="text" th:field="*{user.lastName}" id="lastName" placeholder="Last Name"></td>
            <td><input type="text" th:field="*{user.email}" id="email" placeholder="email"></td>
            <td><input type="text" th:field="*{user.status}" id="status" placeholder="status"></td>
        </tbody>
    </table>
    <br>
    <table border="1" cellpadding="5" align="center">
        <thead>
        <tr>
            <th><label for="code">Code</label></th>
        </tr>
        </thead>
        <tbody>
        <td><input type="text" th:field="*{code}" id="code" placeholder="Code"></td>
        </tbody>
    </table>
    <br>
    <input type="submit" value="Create User">
</form>
</body>
</html>