<!doctype html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Change Password</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/floating-labels/">
	<link rel="stylesheet/less" type="text/css" href="styles.less" />
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
<link href="../assets/dist/css/bootstrap.css" rel="stylesheet">

    <style>
	
	@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700);
	@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);

input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 12px;
    cursor: pointer;
    opacity: 1;
    filter: alpha(opacity=1);    
}
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
	  
    </style>
    <!-- Custom styles for this template -->
    <link href="floating-labels.css" rel="stylesheet">
  </head>
  <body>
  
    <form class="form-signin">
  <div th:insert="/fragments/header :: header" class="text-center mb-4">
  
<svg class="bi bi-shield-lock-fill" width="4em" height="4em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M5.187 1.025C6.23.749 7.337.5 8 .5c.662 0 1.77.249 2.813.525a61.09 61.09 0 0 1 2.772.815c.528.168.926.623 1.003 1.184.573 4.197-.756 7.307-2.367 9.365a11.191 11.191 0 0 1-2.418 2.3 6.942 6.942 0 0 1-1.007.586c-.27.124-.558.225-.796.225s-.526-.101-.796-.225a6.908 6.908 0 0 1-1.007-.586 11.192 11.192 0 0 1-2.417-2.3C2.167 10.331.839 7.221 1.412 3.024A1.454 1.454 0 0 1 2.415 1.84a61.11 61.11 0 0 1 2.772-.815zm3.328 6.884a1.5 1.5 0 1 0-1.06-.011.5.5 0 0 0-.044.136l-.333 2a.5.5 0 0 0 .493.582h.835a.5.5 0 0 0 .493-.585l-.347-2a.5.5 0 0 0-.037-.122z"/>
</svg>
  

    <h1 class="h3 mb-3 font-weight-normal">Change Password</h1>
  </div>
   
	<!--/*@thymesVar id="user" type="ru.ancndz.libraryBase.content.entity.User"*/-->
	<form action="#" th:action="@{/users/save}" th:object="${user}" method="post" align="center">
	
    <div class="form-group">
     <label for="code">Current Password</label>
	 <div class="input-group">
		 <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
		 <input type="password" th:field="*{password}" id="code" class="form-control" placeholder="Enter Your Current Password" required> 
	</div>	
 </div>
  
	<div class="form-group">
		<label for="codenew">New Password</label>
			<div class="input-group">
				<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
				<input type="password" th:field="*{passwordNew}" class="form-control" id="codenew" placeholder="Enter New Password" />
				</br>
				
			</div>
			<small id="passwordHelpBlock" class="form-text text-muted">
				  The password must be 5-15 chars
				</small>
    </div>
  
  
  	<div class="form-group">
		 <label for="codeconf">Confirm New Password</label>
			 <div class="input-group">потому
				 <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
				 <input type="password" th:field="*{passwordConfirm}" id="codeconf" class="form-control" placeholder="Confirm Your New Password">
			</div>	
	</div>
	
<input type="text" hidden th:field="*{userExtras.dateReg}">
<input type="text" hidden th:field="*{userExtras.id}">
  <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
</form>
	</form>
<div th:insert="fragments/header :: login"></div>
<script type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
