<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Clients</title>
    <h2 align="center"><a th:href="@{/jobs/}">Jobs</a> | <a th:href="@{/staff/}">Staff</a> | <a th:href="@{/libs/}">Libraries</a> | <a th:href="@{/books/}">Books</a> | <a th:href="@{/users/}">Users</a></h2>
</head>
<body>
<div th:switch="${userList}" align="center">
    <h2 th:case="null">No users found!</h2>
    <div th:case="*">
        <table border="1" cellpadding="5">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>e-mail</th>
                <th>Status</th>
                <th>reg date</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <!--/*@thymesVar id="user" type="ru.ancndz.libraryBase.content.entity.User"*/-->
            <tr th:each="user : ${userList}">
                <!--/*@thymesVar id="userExtras" type="ru.ancndz.libraryBase.content.entity.UserExtras"*/-->
                <td th:text="${user.id}"></td>
                <td th:text="${userExtras.firstName} + ' ' + ${userExtras.lastName}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${userExtras.status}"></td>
                <td th:text="${userExtras.dateReg}"></td>
                <td><a th:href="@{/users/edit-client(id=${user.id})}">Edit</a>
                <a th:href="@{/users/delete(id=${user.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a th:href="@{/users/new}">Create User</a></p>
</div>
</body>
</html>