.mybtn1 {
    background-color: rgb(111, 84, 153);
    border-color: rgb(111, 84, 153) !important;
    color: rgb(255, 255, 255);
    /* margin: 10px auto;*/
    margin-left: 20px;
    font-size: 16px;
}


.btn.btn-outline {
    background-color: rgb(111, 84, 153);
    border-color: rgb(111, 84, 153) !important;
    color: rgb(255, 255, 255) !important;
    padding: 4px 20px;
    border-radius: 30px;
    margin: 10px auto;
}

.mynav {
    margin-right: -15px;
}
a, a:focus, a:hover {
    color: #fff;
}
/*.btn-default, .btn-default:hover, .btn-default:focus {
    color: #333;
    text-shadow: none;
    /* Prevent inheritance from `body` */
   /* background-color: transparent;
    border: rgb(111, 84, 153);
    border-radius: 50px;
}*/

.mybtn1, .mybtn1:hover, .mybtn1:focus {
    color: #333;
    text-shadow: none;
    /* Prevent inheritance from `body` */
 background-color: transparent;
 border: rgb(111, 84, 153);
 border-radius: 50px;
}

html, body {
    height: 100%;
    background-color: #333;
}
body {

}
/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
}

/*.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}*/

.cover-container {
    margin-right: auto;
    margin-left: auto;
}

/* Padding for spacing */
.inner {
    padding: 5px;

    /*padding: 30px;*/
}

/*
 * Header
 */
.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
}

.masthead-nav > li {
    display: inline-block;
}

.masthead-nav > li + li {
    margin-left: 20px;
}

.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    /*font-weight: 700;*/
    color: #fff;
    /* IE8 proofing */
    color: rgba(255, 255, 255, .75);
    border-bottom: 2px solid transparent;
}

.masthead-nav > li > a:hover, .masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(255, 255, 255, .25);
}
@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }

    .masthead-nav {
        float: right;
    }
}
/*
 * Affix and center
 */
@media (min-width: 768px) {
    /* Pull out the header and footer */ .masthead {
        position: fixed;
        top: 0;
    }

    .mastfoot {
        position: fixed;
        bottom: 0;
    }

    .site-wrapper-inner {
        vertical-align: middle;
        /* Start the vertical centering */
    }

    .masthead, .mastfoot, .cover-container {
        width: 100%;
        /* Must be percentage or pixels for horizontal alignment */
    }
}


@media (min-width: 992px) {
    .masthead, .mastfoot, .cover-container {
        width: 800px;
        <!-- если кнопки не вмещаются увеличивать тут --> }
}