<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Jobs</title>
    <h2 align="center"><a th:href="@{/jobs/}">Jobs</a> | <a th:href="@{/staff/}">Staff</a> | <a th:href="@{/libs/}">Libraries</a> | <a th:href="@{/books/}">Books</a> | <a th:href="@{/users/}">Users</a></h2>
</head>
<body>
<div th:switch="${jobs}" align="center">
    <h2 th:case="null">No jobs found!</h2>
    <div th:case="*">
        <table border="1" cellpadding="5">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Pay</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="job : ${jobs}">
                <td th:text="${job.id}"></td>
                <td th:text="${job.name}"></td>
                <td th:text="${job.pay}"></td>
                <td><a th:href="@{/libs/edit-lib(id=${job.id})}">Edit</a>
                    <a th:href="@{/libs/delete(id=${job.id})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a th:href="@{/jobs/new}">Add job</a></p>
</div>
</body>
</html>